/* Tabel of Contents
0.0 - General
1.0 - Front Page
2.0 - Login Page
3.0 - Contact Page
*/

/*** 0.0 - General ***/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/record.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

.body-container {
    width: 100%;
    height: 100%;
    min-height: 87vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
a {
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*** 0.1 - NavBar ***/
.topnav {
    overflow: hidden;
    background-color: #555;
    border-radius: 1em;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav #login-button {
    float: right;
    background: #e33;
}

.topnav #login-button:hover {
    background: #fbb;
}

.topnav #profile-button {
    float: right;
}


/*** 1.0 - Front Page ***/
.description {
    display: flex;
    margin: 4vh 0px;
}

.description .text-container {
    color: #fff;
    font-size: 24px;
    margin: 1vh 1vw;
    text-align: center;
}

.description .text-main {
    font-size: 40px;
}

.description .logo {
    width: 20%;
    height: 20%;
    min-height: 200px;
    min-width: 200px;
    background-size: cover;
    border-radius: 300px;
    padding: 1vh 1vw;
}

.artist-section {
    background-color: #5555;
    border-radius: 30px;
    margin: 1vh 1vw;
}

.artist-section .header {
    color: #fff;
    padding: 1vh 2vw;
    font-size: 42px;
}

.artist-container {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
.all-artists-container{
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 30vw));
    justify-content: space-evenly;
    align-items: start;
}

.artist {
    display: inline-block;
    width: 16vw;
    height: 25vh;
    margin: 1vh 1vw;
    min-height: 175px;
    text-align: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 35px;
}
.all-artists-container .artist {
    width: 28vw;
    height: 30vh;
}

.artist a {
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 75%;
    text-decoration: none;
}

.artist a:hover {
    color: #fff7;
    cursor: pointer;
}

.artist .material-symbols-outlined {
    display: inline-block;
    color: #ccc;
}

#more {
    background-image: url('/images/plus.png');
    background-size: 50%;
    background-position: center 25%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*** 2.0 - Login Page ***/
.login-container {
    background-color: #3333;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 32px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 5px;
}

input[type="username"],
input[type="password"],
select,
textarea {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px;
}

.message-container {
    /* background-color: #3333; */
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 20px; 

}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-container button:hover {
    /* background-color: #0056b3; */
    background-color: #333;
}

/* 3.0 - Artist Page */
.bio-section {
    
    color: white;
    background-size: cover;
    padding: 2em;
    background-position: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 2em;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.artist-image {
    margin-right: 20px;
}

.bio-section h1 {
    margin: 0;
    display: flex;
    align-items: center;
}

.favorite-button {
    margin-left: 10px;
    padding: 0;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 0.5em;
    transition: background-color 0.3s;
}

.unfavorite-button {
    margin-left: 10px;
    padding: 0;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 0.5em;
    transition: background-color 0.3s;
}

.follower-count {
    margin-left: 10px;
    font-size: 0.5em;
}

.album-title {
    font-size: 2.5em;
    margin: 1em 0;
}

.songs-list {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0.2em 0.2em 0.3em black;
    padding: 2em;
    align-self: flex-start;
    width: 100%; 
    text-align: left;
}

.songs-list h2 {
    margin-top: 0;
    text-align: left;
}

.songs-list ul {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.songs-list li {
    display: flex;
    align-items: center;
    margin: 1em 2em;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: left; 
    font-size: 1em;
}

.songs-list li img {
    margin-right: 10px;
    border: 0.2em solid black;
    border-radius: 0.4em;
    height: 10em; 
    width: auto;
}

.songs-list li a {
    text-decoration: none;
    color: inherit;
}

.songs-list li:hover img {
    border-color: #007bff;
}

.songs-list li p {
    font-size: 2em;
}

.upcoming-events {
    /* background-color: rgba(0, 0, 0, 0); */
    color: white;
    text-shadow: 0.2em 0.2em 0.3em black;
    padding: 2em;
    /* background-image: url('images/events_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
    flex: auto;
}

.upcoming-events ul li {
    margin: 1em 0;
    font-size: 1.5em;
    display: flex;
}

.event-image {
    height: 150px; /* Adjust size as needed */
    width: auto;
    margin-right: 20px;
}

/*** 4.0 - Contact Page ***/
.contact-container {
    background-color: #3333;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 32px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-container button:hover {
    /* background-color: #0056b3; */
    background-color: #333;
}

/*** 5.0 - Song Player ***/
.music-player-section {
    width: 98%;
    height: 98%;
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: column;
}

.seek-bar {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    width: 60vw;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
}

.song-name {
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
}

.artist-name {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.cover {
    width: 60vh;
    min-width: 300px;
    height: auto;
    object-fit: cover;
    margin: auto;
    border-radius: 10%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.time {
    display: flex;
    justify-content: space-between;
}

.controls {
    position: relative;
    width: 40vw;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

/*** X.0 - Footer ***/

footer {
    width: 100%;
    background-color: #3332;
    color: #fff;
    text-align: center;
    margin-top: 1vh;
    padding: 1vh 0vw 0vh 0vw;
}

footer p {
    margin: 5px 0;
    font-size: 15px;
}

/*** Register Page ***/

.register-container {
    background-color: #3333;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}



/** 6.0 - Profile Page **/

.profile {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.profile-header h1 {
    font-size: 2.5em;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.logout.button {
    background-color: #e33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s;
    height: 50px;
}

.logout.button:hover {
    background-color: #f55;
}

.favorite-artists, .favourite-songs {
    margin-bottom: 30px;
    color: white;
}

.favorite-artists h2, .favorite-songs h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.favorite-artists ul, .favorite-songs ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favorite-artists li, .favorite-songs li {
    background-color: rgba(100, 100, 100, 0.01);
    /* margin: 10px;
    padding: 10px;
    border-radius: 10px; */
    /* width: calc(33% - 20px); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    min-width: 150px;
    height: auto;
}

.favorite-artist-image, .favorite-song-image {
    height: 120px;
    width: 120px;
    
    border-radius: 10px;
    object-fit: cover;
}

.favorite-artist-info, .song-info {
    color: white;
}

.favorite-artist-info h2, .song-info h2 {
    font-size: 2em;
    margin: 0;
}

.favorite-song-info p {
    font-size: 1em;
    margin: 5px 0 0 0;
}
