<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Record Company</title>
        <link rel="stylesheet" href="/style.css">
        </head>

    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="">Artists</a>
            <a href="events.html">Events</a>
            <a href="/contact">Contact Us</a>
            <a href="about.html">About</a>
            <a href="/login" id="login_button">Login</a>
        </div>
        <div class="body-container">
            {{{body}}}
        </div>

        <footer>
            <p>2024 Temp Records Company. All rights reserved.</p>
        </footer>
    </body>
</html>