<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Record Company">
        <title>Record Company</title>
        <link rel="stylesheet" href="/style.css">
        </head>

    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/artists">Artists</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact Us</a>
            {{#if username}}
                <a href="/profile" id="profile-button">{{username}}</a>
                
            {{else}}
                <a href="/login" id="login-button">Login</a>
            {{/if}}
        </div>
        <div class="body-container">
            {{{body}}}
        </div>

        <footer>
            <p>2024 Temp Records Company. All rights reserved.</p>
        </footer>
    </body>
</html>