<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<section class="music-player-section">
    <hi class="song-name">{{{song}}}</hi>
    <p class="artist-name">{{{artist}}}</p>

    <img src="{{image}}" class="cover" alt="">

    <div class="seek-bar">
        <input type="range" min="0" max="100" value="0" class="seek-bar" id="seek-bar">
        <div class="time">
            <p class="current-time">0:00</p>
            <p class="duration">0:00</p>
        </div>
    </div>

    <div class="controls">
        <span class="material-symbols-outlined md-48">fast_rewind</span>
        <span class="material-symbols-outlined md-48">play_arrow</span>
        <span class="material-symbols-outlined md-48">pause</span>
        <span class="material-symbols-outlined md-48">fast_forward</span>
    </div>

</section>